.nav {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  resize: horizontal;
  position: relative;
  font-size: 12px;
  color: var(--text-grey);
  background-color: rgb(32, 32, 32);
  overflow: hidden;
}

.mainActions {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}
