:root {
  --text-grey: rgb(155, 155, 155);
  --text-white: rgba(255, 255, 255, 0.81);
  --nav-background-color: rgb(32, 32, 32);
  --hover-color: rgb(255, 255, 255, 0.055);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Inter, ui-sans-serif, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

body {
  color: var(--text-white);
  background-color: rgb(25, 25, 25);
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
